<h2>お気に入り投稿一覧</h2>

<p><%= notice %></p>


<% @favorites.each do |favorite| %>
<div class="col mb-5">
  <div class="card h-100">
    <% picture=@pictures.find_by(id: favorite.picture_id) %>
    <%= image_tag picture.image.url, class: "card-img-top" %>
    <div class="card-body p-4">
      <div class="text-center">
        <p class="fw-bolder">User Name : <%= (@users.find_by(id: picture.user_id)).name %></p>
        <p class="fw-bolder">Comment : <%= picture.comment %></p>
      </div>
    </div>
  </div>
</div>
<% end %>


<%= link_to '投稿一覧画面へ戻る', pictures_path %>