<h2>投稿詳細画面</h2>

<p id="notice"><%= notice %></p>

<div class="col mb-5">
  <div class="card h-100">
    <strong>Image:</strong>
    <%= image_tag @picture.image.url , class: "card-img-top" %>
    <div class="card-body p-4">
      <div class="text-center">
        <p class="fw-bolder">コメント: <%= @picture.comment %></p>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_picture_path(@picture) , data: { confirm: '本当に編集していいですか？' } if @picture.user_id == current_user.id %> |
<%= link_to 'Back', pictures_path %>